#stroke{
    color: transparent;
    -webkit-text-stroke: 3px var(--main-contrast-color);
}

.font-color{
    color:  var(--main-contrast-color);
}

.font-soft-color{
    color: #424242;
}

.font-regular{
    font-size: 24px;
    font-weight: medium;
}

.font-brand-name{
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.font-title{
    font-size: 96px;
    font-weight: bold;
}

.font-menu{
    font-size: 18px;
}

.menu-head{
    font-size: 24px;
    font-weight: 500;
}

.center-align{
    align-items: center;
}

h1{
    font-size: 64px;
    font-weight: 400;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: 400;
}

.hover-font{
    font-size: 2em;
    color: #e3e3e3;
    padding: 10%;
}

/*KOREAN FONT*/

/*MEDIA*/
@media screen and (max-width: 998px){
    .font-title{
        font-size: 64px;
    }

    .font-regular{
        font-size: 24px;
    }

    .font-brand-name{
        font-size: 32px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {
    .font-title{
        font-size: 60px;
    }

    .font-regular{
        font-size: 24px;
    }

    .font-brand-name{
        font-size: 30px;
    }

    h1{
        font-size: 48px;
    }

    #menu{
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width: 576px) and (min-width: 340px) {
    .font-title{
        font-size: 40px;
    }

    .font-regular{
        font-size: 20px;
    }

    .font-brand-name{
        font-size: 24px;
    }

    h1{
        font-size: 42px;
    }
}

@media screen and (max-width: 460px){
    #menu{
        font-size: 20px;
        font-weight: 400;
    }
}