:root{
    --main-bg-color: #e3e3e3;
    --main-element-colot: #F1F1F1;
    --main-contrast-color: #1c1e22;
    --korean-font-family: "Black Han Sans", sans-serif;
}

*{
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    border-radius: 16px;
}

header{
    display: flex;
    justify-content: center;
}

.shadow{
    box-shadow: 3px 8px 19px 1px #d1d1d1;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    align-content: center;
    padding: 50px;
}

.container{
    width: 100%;
    max-width: 1600px;
    min-width: 420px;
}

.wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 25px
}

.item_1{
    background-color: var(--main-element-colot);
    grid-column: 1/3;
    grid-row: 1;
    height: 30vh;
}
.item_2{
    background-color: var(--main-element-colot);
    grid-column: 3/5;
    grid-row: 1;
    height: 30vh;
}
.item_3{
    background-color: var(--main-element-colot);
    grid-column: 1;
    grid-row: 2;
    height: 30vh;
}
.item_4{
    background-color: var(--main-element-colot);
    grid-column: 2;
    grid-row: 2;
    height: 30vh;
}
.item_5{
    background-color: var(--main-element-colot);
    grid-column: 3;
    grid-row: 2;
    height: 30vh;
}
.item_6{
    background-color: var(--main-element-colot);
    grid-column: 4;
    grid-row: 2;
    height: 30vh;
}